.controls_wrapper {
  color: #ffe600;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 40px;

  flex: 0 0 auto;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
  }

  & button {
    --size: 64px;

    background-color: #ffe600;
    color: black;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
    transition-property: opacity, scale;

    &:hover,
    &:focus-visible {
      scale: 1.05;
    }

    &:active {
      scale: 0.95;
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}

.main_btn {
  align-items: center;

  font-size: 16px;
  line-height: 19px;
  font-weight: bold;

  & button {
    --size: 96px;
  }
}

.info_share {
  padding-top: 8px;

  & button {
    --size: 48px;
  }

  & button:nth-child(2) {
    margin-left: -24px;
  }
}
