.controls_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  color: black;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
  }

  & button {
    background-color: #ffe600;
    border-radius: 50%;
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main_btn {
  align-items: center;
  color: #ffe600;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;

  & button {
    width: 96px;
    height: 96px;
  }
}
.info_share {
  padding-top: 8px;
  & button {
    width: 48px;
    height: 48px;
  }

  & button:nth-child(2) {
    margin-left: -24px;
  }
}


